<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Mariama's Portfolio</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&family=Alegreya+Sans:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29ffacc206.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="mobile-nav" class="mobile-vis">
        <div class="mobile-logo">
            <a href="/"><img src="assets/img/Plugin icon - 1.png"  aria-label="logo for website,, a pink rimmed circle with pale yellow background, dark plum M and exclaimation point with two stars"></a>
        </div>
        <div id="menu-bars"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg></div>
    </nav>
    <nav id="desktop-nav" class="desktop-vis">
        <div class="logo">
            <a href="/"><img src="assets/img/Plugin icon - 1.png"  aria-label="logo for website,, a pink rimmed circle with pale yellow background, dark plum M and exclaimation point with two stars"></a>
        </div>
        <div><a href="/">Home</a></div>
        <div><a href="/projects">Projects</a></div>
        <div><a href="/blog">Blog</a></div>
        <div><a href="/resume">Resume</a></div>
        <div class="current-page"><a href="/contact">Contact</a></div>
    </nav>
    <section id="contact-header" aria-label="Resume heading">
        <h1>Contact</h1>
    </section>
    <section id="message-socials">
        <p>Reach out via the form below or my socials:</p>
    </section>
    <section class="socials">
        <div id="linkedin" aria-label="link to linkedin page">
            <a href="https://www.linkedin.com/in/mariamazing/"><img class="icons" src="assets/img/thumbnails_LinkedIn_logo_initials.png"  aria-label="link to linkedin page"></a>
        </div>
        <div id="github" >
            <a href="https://github.com/marikodes"><img class="icons" src="assets/img/github logo.png" aria-label="link to github page"></a>
        </div>
        <div >
            <a href="https://www.youtube.com/@MariamazingThings"><img id="youtube" src="assets/img/youtube icon .png" aria-label="link to youtube page"></a>
        </div>
        <div >
            <a href="https://glitch.com/@mariamazing"><img id="glitch" src="assets/img/Glitch-Emblem.png" aria-label="link to glitch page" ></a>
        </div>
    </section>
    <section id="contact-form">
        <form id="form-styling">
            <label aria-label="text field for first and last name">Name</label>
            <input class="form-text"type="text" name="firstlastname">
            <label aria-label="text field for email address">Email</label>
            <input class="form-text" type="text" name="emailaddr">
            <label aria-label="body of message">Message</label>
            <input id="message-txtbox" class="form-text" type="input" name="message">
            <input class="form-text" type="submit" value="Submit" aria-label="submit form button">
        </form>
    </section>
    
    <footer id="copyright">&copy 2024 Mariama Bah (Mariamazing)</footer>
</body>
</html>