<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Mariama's Portfolio</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&family=Alegreya+Sans:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29ffacc206.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="mobile-nav" class="mobile-vis">
        <div class="mobile-logo">
            <a href="/"><img src="assets/img/Plugin icon - 1.png"  aria-label="logo for website,, a pink rimmed circle with pale yellow background, dark plum M and exclaimation point with two stars"></a>
        </div>
        <div id="menu-bars"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg></div>
    </nav>
    <nav id="desktop-nav" class="desktop-vis">
        <div class="logo">
            <a href="/"><img src="assets/img/Plugin icon - 1.png"  aria-label="logo for website,, a pink rimmed circle with pale yellow background, dark plum M and exclaimation point with two stars"></a>
        </div>
        <div><a href="/">Home</a></div>
        <div class="current-page"><a href="/projects">Projects</a></div>
        <div><a href="/blog">Blog</a></div>
        <div><a href="/resume">Resume</a></div>
        <div><a href="/contact">Contact</a></div>
    </nav>
    <section id="projects">
        <h1>Projects</h1>
        <section aria-label="projects container" id="project-flex">
            <a href="/jitterdraw">
                <div class="project-holder">
                    <div class="project-image"></div>
                    <h5>JitterDraw</h5>
                </div>
            </a>
            <a href="/adobe">
                <div class="project-holder">
                    <div class="project-image"></div>
                    <h5>Adobe Express Extension</h5>
                </div>
            </a>
        </section>
    </section>

    <footer id="copyright" aria-label="copyright information">&copy 2024 Mariama Bah (Mariamazing)</footer>
</body>

</html>